asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.3.2
cloudscraper==1.2.71
DateTime==5.5
Django==5.1
greenlet==3.1.1
gunicorn==23.0.0
idna==3.8
numpy==2.1.0
packaging==24.2
pandas==2.2.2
PyMySQL==1.1.1
pyparsing==3.2.1
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
requests-toolbelt==1.0.0
setuptools==75.8.0
six==1.16.0
SQLAlchemy==2.0.37
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
zope.interface==7.0.3